@model EventsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<fieldset>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="googleMap" style="height:400px;width:100%;"></div>
    <script>

        var map = null;

        function myMap() {
            var myCenter = new google.maps.LatLng(50, 20);
            var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIIzrfDWhJDmExM3txDBBeNoIFWGP2LOA&callback=myMap"></script>
</fieldset>

<br />
<br />
       <form asp-controller="Home" asp-action="Searchbox" >
    <p>
        Name    <input type="text" name="SearchString"  />
        <input type="submit" value="Filter" class="btn btn-secondary" />
    </p>
</form>

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Id)
            </th>

             <th>
                @Html.DisplayNameFor(model => model.Events[0].Name)
            </th>

            <th>
                @Html.DisplayName("Location")
            </th>

          @*  <th>
                @Html.DisplayNameFor(model => model.Events[0].Content)
            </th>*@

            <th>
                @Html.DisplayNameFor(model => model.Events[0].Date)
            </th>

        @*    <th>
                @Html.DisplayNameFor(model => model.Events[0].ParticipantsCount)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Events[0].Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Events[0].Duration)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Events[0].TicketsLink)
            </th>*@
            <th>
                Button
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <script>setMarkers(@item.Latitude, @item.Longitude);</script>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
             @*   <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ParticipantsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketsLink)
                </td>*@
                <td>
                    <button class="btn btn-primary" onclick="myFunction(@item.Latitude.ToString().Replace(",", "."), @item.Longitude.ToString().Replace(",", "."))">Show on map</button>
                </td>
             
            </tr>
        }
    </tbody>
</table>


<script>
        function myFunction(_lat, _lng) {
            map.setCenter({lat: _lat, lng: _lng});
                    var myCenter2 = new google.maps.LatLng(_lat, _lng);
                    var marker2 = new google.maps.Marker({ position: myCenter2 });
                    marker2.setMap(map);
    }
</script>